@model PowerTodoApp.Models.Issue

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Issue</legend>

    <div class="display-label">Title</div>
    <div class="display-field">@Model.Title</div>

    <div class="display-label">Owner</div>
    <div class="display-field">@Model.Owner</div>

    <div class="display-label">Content</div>
    <div class="display-field">@Model.Content</div>

    <div class="display-label">Priority</div>
    <div class="display-field">@Model.Priority</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Key }) |
    @Html.ActionLink("Back to List", "Index")
</p>


